@import url(https://fonts.googleapis.com/earlyaccess/notosanstc.css);

// @import url(https://fonts.googleapis.com/earlyaccess/cwtexyen.css);
$sys-blue: #1563f1;


body {
  // border: 1px solid red;
  height: 100vh;
  margin: 0;
  box-sizing: border-box;
  // background: linear-gradient(-170deg, #fff 0%,#fff 50%,#fff 20%, #59B4EF 10%, #95adbd 0%);
}
#whole-wrap{
  max-width: 1040px;
  margin: 0 auto;
  padding: 0px 0;
}

.welcome-text{
  // border: 1px solid blue;
  font-family: "Noto Sans TC'", sans-serif; 
  display: flex;
  justify-content: center;
  .ani-wrap{
    // border: 3px solid black;
    border-radius: 3px;
    margin-right: 10px;
    padding: 20px;
    // height: 100px;
    overflow: hidden;
    width: calc(100% - 255px);
    // .content{
    //   // white-space: pre-wrap;
    // }
  }
}

h1 {
  position: relative;
  width: max-content; 
  font-weight: normal;
  font-weight: 600;
  font-size: 48px;
  // font-size: 20px;
  // border: 1px solid blue;
}

h1:before, h1:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
}

h1::before {
  background: #fff;
  animation: write 2.5s steps(18) 0.5s forwards; /* Number of steps */
  width: 100%;
}

h1::after {
  opacity: 1;
  width: 0.15em; 
  background: black;
  animation: write 2.5s steps(18) 0.5s forwards, blink 0.75s steps(2) infinite;
}

p {
  // font-size: 15px;
  font-weight: 300;
  line-height: 1.56rem;
  // opacity: 0.4;
  color: #343434;
  margin: 10px 0;
  line-height: 1.67em;;
  span.heigh-light{
    // border: 1px solid ;
    color: #252525;
    font-weight: 400;
    padding: 0 5px;
    position: relative;
    &::after{
      content: '';
      // border: 1px solid ;
      display: flex;
      height: 8px;
      width: 100%;
      position: absolute;
      left: 0;
      z-index: -1;
      bottom: 0;
      background: #ffe30e;
      border-radius: 3px;
    }
  }
  .call-action{
    color: $sys-blue;
    font-weight: 400;
    box-shadow: 0 2px $sys-blue;
    cursor: pointer;
    transition: linear .2s;
    &:hover{
      color: #fff;
      background: $sys-blue;
      padding:  2px 8px;
      border-radius: 3px;
      box-shadow: none;
      font-size: 15px;
      transition: linear .2s;
      &::after{
        content: '\f1d8';
        font-family: "FontAwesome";
        margin-left: 5px;
      }
    }
  }
}
.contact-list{
  // border: 1px solid ;
  display: flex;
  height: 70px;
  align-items: center;
  // justify-content: space-between;
  padding: 0;
  li{
    display: flex;
    box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.156);
    cursor: pointer;
    // border: 1px solid red;
    // padding: ;
    a{
      text-decoration: none;
      display: flex;
      align-items: center;
      justify-content: center;
      height: 30px;
      padding: 4px 8px;
      border-radius: 3px;
      background: $sys-blue;
      color: #fff;
      // width: ;
      i{
        margin-left: 5px;
      }
    }
    &+li{
      margin-left: 5px;
    }
    &:hover{
      transform: scale(0.9);
      transition: linear .2s;
      a{
        background: #1f6eff;
      }
      // box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.156);
    }
  }
}

@keyframes write {
  to {
    left: 100%;
  }
  
}

@keyframes blink {
  0% {
    opacity: 0;
  } 
  49.9% {
     opacity: 0;
  }
  50% {
     opacity: 1;
  }
  100% {
     opacity: 1;
  }
}

.img-wrap{
  display: flex;
  overflow: hidden;
  width: 234px;
  height: 216px;
  /* border: 10px solid; */
  overflow: hidden;
  // border-radius: 128px;
  margin-top: 100px;
  margin-right: 20px;
  position: relative;
  // box-shadow: 5px 0px 0px 10px $sys-blue;
  &::before{
    content: '';
    display: flex;
    width: 20px;
    height: 50px;
    background: #ffe30e;
    position: absolute;
    z-index: 99;
    border-radius: 5px;
  }
  &::after{
    content: '';
    display: flex;
    width: 20px;
    height: 30px;
    background: $sys-blue;
    position: absolute;
    z-index: 99;
    bottom: 0;
    right: 0;
    border-radius: 5px;
  }
  img{
    transform: translate(-235px, -45px);
    /* width: 300px; */
    height: 400px;
  }
}
.work-card-wrap{
  padding: 10px 20px 0 20px;
  display: flex;
  justify-content: space-between;
  .card{
    text-decoration: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 300px;
    height: 200px;
    background: white;
    color: $sys-blue;
    border-radius: 5px;
    border: 5px solid $sys-blue;
    border-radius: 5px;
    overflow: hidden;
    cursor: pointer;
    transition: linear .2s;
    .title{
      display: flex;
      width: 100%;
      // height: 100%;
      text-align: center;
      justify-content: center;
      align-items: center;
      font-size: 35px;
      word-spacing: normal;
      letter-spacing: 4px;
      font-weight: 600;
    }
    .content{
      font-size: 15px;
      text-align: center;
      padding: 5px 12px;
    }
    .cover{
      width: 0;
      text-align: center;
      overflow: hidden;
      display: flex;
      color: #fff;
      font-weight: 600;
      transition: linear .2s;
    }
    i.fa-external-link-alt{
      position: absolute;
      top: 12px;
      right: 12px;
    }
    &:hover{
      background: $sys-blue;
      color: #ffe30e;
      transition:  linear .2s;
      .cover{
        font-size: 24px;
        width: fit-content;
        transition: linear .2s;
      }
    }
  }
}